<div class="send-mail-container">
    <h2>Draft Mail({{draftMailList.length}})</h2>
    <ul class="body-ul">
        <li *ngFor="let mail of draftMailList; let i = index">
            <div class="mail-showcase">
                <div class="checkbox-container">
                    <input type="checkbox"/>
                </div>
                <div class="mail-info">
                    <div class="name-container">
                        {{mail.fromName}}
                    </div>
                    <div class="subject-container">
                        {{mail.subject}}
                    </div>
                    <div class="date-container">
                        {{mail.sendDate}}, {{mail.sendTime}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
