$color-blue: #00b494;
$color-white: #ffffff;
$color-black: #000000;
$color-red: red;
$color-orange: #faad4f;

$color-grey-bg: #f3f3f4;
$color-menu-bg: #263b4b;
$color-selected-item: #223747;
$color-input-border: #e2e2e2;
$color-grey-font: #687e90;