@import '../../../global-style/palette.scss';

.send-mail-container {
    h2 {
        font-size: 24px;
        font-weight: 300;
        margin: 0;
        padding: 25px 15px 15px;
    }
    .body-ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            padding: 15px 15px 10px;
            border-bottom: 1px solid $color-input-border;
            cursor: pointer;
            background-color: $color-grey-bg;
    
            .mail-showcase {
                display: -webkit-inline-box;
                width: 100%;
                font-size: 14px;
                color: $color-menu-bg;
    
                .checkbox-container {
                    width: 5%;
                    input[type='checkbox'] {
                        width: 18px;
                        height: 18px;
                        border-radius: 0px;
                        margin: 0;
                        cursor: pointer;
                    }
                }
                .mail-info {
                    display: contents;
                    width: 94%;
                    float: right;
                }
                .name-container {
                    width: 30%;
                }
                .subject-container {
                    width: 45%;
                }
                .date-container {
                    width: 20%;
                    text-align: right;
                }
            }
        }

        li:first-child {
            border-top: 1px solid $color-input-border;
        }
    
        li:hover, .li-selected {
            background-color: $color-grey-bg;
        }
    }
}